.navbar {
    background-color: #f8f9fa;
    color: green;
  
    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .nav-link {
      margin-right: 15px;
    }
  
    .dropdown-menu {
      background-color: #fff;
    }
  }
  
  #navbarNav{
    color: rgb(64, 134, 64) ;
  }